#topbar {
	background-color: darkgrey;
}

#sidebar {
	background-color: lightgrey;
}

#main {
	background-color: grey;
}

/* Color Classes */

.grey {
	background-color: darkgrey;
	border-color: grey;
}

.lightgrey {
	background-color: silver;
	border-color: lightgrey;
}

.blue {
	background-color: mediumslateblue;
	border-color: #392759;
}

.green {
	background-color: #B5DDA4;
	border-color: #4DAA57;
}

.red {
	background-color: pink;
	border-color: darkred;
}

.brown {
	background-color: #513C2C;
	border-color: #28190E;
}

.aqua {
	background-color: #ACEDFF;
	border-color: #89BBFE;
}

.yellow {
	background-color: #FFD151;
	border-color: #F8C537;
}