#topbar {
	background-color: darkgrey;
}

#sidebar {
	background-color: lightgrey;
}

#main {
	background-color: grey;
}

.p {
	background-color: silver;
}

.r {
	background-color: #a3a3a3;
}

.g {
	background-color: silver;
}

/* Color Classes */

.grey {
	background-color: darkgrey;
	border-color: grey;
}

.lightgrey {
	background-color: silver;
	border-color: lightgrey;
}

.blue {
	background-color: mediumslateblue;
	border-color: #392759;
}

.green {
	background-color: #b5dda4;
	border-color: #4daa57;
}

.red {
	background-color: pink;
	border-color: darkred;
}

.brown {
	background-color: #513c2c;
	border-color: #28190e;
}

.aqua {
	background-color: #acedff;
	border-color: #89bbfe;
}

.yellow {
	background-color: #ffd151;
	border-color: #f8c537;
}

.orange {
	background-color: #ffa600;
	border-color: #c45f00;
}

.purple {
	background-color: #89608e;
	border-color: #553555;
}
