/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	width: 100vw;
	height: 100vh;
}

hr {
	margin: 0;
	padding: 0;
}

#app {
	width: 100%;
	height: 100%;
}

#topbar {
	width: 100%;
	height: 35px;
	line-height: 35px;
	top: 0;
	position: fixed;
}

#sidebar {
	height: calc(100vh - 35px);
	width: 80px;
	transition: width 0.5s;
	float: left;
	text-align: center;
	bottom: 0;
	position: fixed;
	z-index: 100;
}

#sidebar.expanded {
	width: 300px;
}

#main {
	height: calc(100vh - 35px);
	width: calc(100vw - 80px);
	transition: width 0.5s;
	margin-top: 35px;
	float: right;
}

#sidebar.expanded + #main {
	width: calc(100vw - 300px);
}

.side {
	font-size: 20px;
}