<!DOCTYPE html>
<html>
	<head>
		<title>True Infinity</title>
		
		<meta charset="UTF-8">
		<meta name="description" content="More Infinite than Any Game to Date!" />
		<meta name="keywords" content="Idle,Game,Indie,True,Infinity,Incremental" />
		<meta name="author" content="Reinhardt (Logan McDonald)" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="x4dhb8CYA-CckrCCj2Mc0qbrX6Yw9WmxAZieFdIQjQk" />
		
		<link id='ss' href='css/stylesheet.css' rel='stylesheet'></link>
		<link id='sb' href='css/sbb.css' rel='stylesheet'></link>
		<link id='theme' href='css/default.css' rel='stylesheet'></link>
		
		<script src='js/vue.js'></script>
		<script src='js/expandta_num.js'></script>
		
		<script src='js/main.js'></script>
	</head>
	
	<body>
		<div id='app'>
			<div id='topbar'>
			</div>
			
			<div id='sidebar' v-bind:class='{expanded: sidebar_state}'>
				<button v-on:click='toggle_sidebar' class='sbb side'>{{ sidebar_state ? '<<' : '>>' }}</button>
				<br><br>
				<button v-on:click='tab_to(0)' class='sbb side grey'>{{ sidebar_state ? 'Dimensions' : 'Dim' }}</button>
				<button v-on:click='tab_to(1)' class='sbb side blue'>{{ sidebar_state ? 'Options' : 'Opt' }}</button>
			</div>
			
			<div id='main'>
				<div v-if='tab == 0'>
					Hi
				</div>
				<div v-if='tab == 1'>
					Bye
				</div>
			</div>
		</div>
		
		<script>
			init();
		</script>
	</body>
</html>